@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

$primaryColor: rgb(59, 221, 181);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(./images/News-1-480x289.gif.gif);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 0;
}
nav {
  a{
    color: $primaryColor;
  }
  a:hover{
    cursor: pointer;
    color: white;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
div.grid-item {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 400px;
}

.button {
  background-color: $primaryColor;
}

form {
  display: flex;
  margin-bottom: 20px;
    .search {
      margin-left: 10px;
    }
}
  .header {
    min-height: 85px;
    padding-top: 10px;
    box-shadow: none;
    text-align: center;
    min-height: 100px;
    p {
      color:black;
      padding: 5px;
    }
  }

  .card-footer {
    display: flex;
    justify-content: center;
  }

  #read-more {
    background-color: rgb(59, 221, 181);
    border-radius: 5px;
    width: 130px;
    padding: 5px 15px;
    text-align: center;
    color: white;
    margin: 20px;
  }

  #read-more:hover {
    background-color: rgb(47, 192, 156);;
  }

.follow-link {
  margin: 20px;
}

h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url(./images/plain-white-background-1480544970glP.jpeg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}